<div class="wrapper">
  <div class="flex-filter-undo">
    <mat-form-field>
      <mat-label>Filtrar por...</mat-label>
      <mat-select [(value)]="filterValue" (selectionChange)="onFilterChange($event)">
        <mat-option value="one">Preço crescente</mat-option>
        <mat-option value="two">Preço decrescente</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" matTooltip="Retorna o último card" (click)="undoDelete()">
      <mat-icon>undo</mat-icon> Desfazer
    </button>
    <button mat-flat-button color="primary" matTooltip="Menu para adicionar um produto" [matMenuTriggerFor]="menu">Adicionar Produto</button>
    <div class="stop-propagation" (click)="$event.stopPropagation()">
      <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
        <app-adicionar-produtos
          [actualId]="actualId"
          (addProduct)="onAddProduct($event)"
        ></app-adicionar-produtos>
      </mat-menu>
    </div>
  </div>

  <div class="container-cards box">
    <ng-container *ngIf="products.length > 0; else noProducts">
      <app-card
        *ngFor="let product of products; let i = index"
        [product]="product"
        (idFromRemovedProduct)="onProductDeleted($event)"
      ></app-card>
    </ng-container>
    <ng-template #noProducts>
      <div class="flex">
        <h1 style="color: lightgray;">Nenhum produto encontrado.</h1>
        <mat-icon style="font-size: 70px; width: 70px; height: 70px; color: lightgray">search</mat-icon>
      </div>
    
    </ng-template>
  </div>
</div>
