* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;;
}


a {
    text-decoration: none;
}

.box{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container{
    width: 80%;
    margin: 10px auto 10px auto;
    padding: 2em;
    height: fit-content;
}

.page-container{
    position: relative;
    min-height: 80vh;
}


