@import "../../../assets/variables.scss";


.active span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: $primary-purple;
  transition: width 0.3s ease-in-out;
}

button {
  position: relative;
  padding: 10px;
  font-size: 16px;

  
  span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: $primary-purple;
    transition: width 0.3s ease-in-out;
  }

 
  &:hover span::after {
    width: 100%;
  }

 
  &:not(.active) span::after {
    width: 0;
  }
}


.flex {
  padding-left: 10px;
  min-height: 3em;
  display: flex;
  gap: 40px;
  height: fit-content;

  a {
    color: black;
  }

  @media (max-width: 670px) {
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    align-items: center;
  }
}



