
<div class="container">
    <h1>Atividade AF - Estrutura de Dados</h1>
    <br>
    <p>Fernando Soares</p>
    <p>João Silveira</p>
    <p>Raphael Carneiro</p>
    <p>Maria Eduarda</p>
    <p>Pedro Luiz</p>
    <br>
    <hr>
    <br>
    <br>
    <p>Estamos utilizando árvore para <strong>filtrar</strong>  os produtos e a pilha para fazer <strong>undo</strong> na exclusão dos produtos.</p>
    <p>Tal aplicação das estruturas demonstram que elas podem ser úteis em projetos reais.</p>
    <br>
    <img src="../../../assets/imgs/image.png" alt="" srcset="">
</div>
